@model IEnumerable<ProjectsDashboard.Models.Projects>

@{
    ViewData["Title"] = "Index";
}

@if (!Model.Any())
{
    <h1>You do not have any projects to be displayed!</h1>
    <br />
    <p>
        <a asp-action="Create">Create New Project</a>
    </p>
}
else
{
    <h1>My Projects</h1>
    <br />
    <p>
        <a asp-action="Create">Create New Project</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Progress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manager)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Progress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}